<template>
  <div class="col-md-4 mr-0 mb-4">
    <div
      class="card"
    >
      <div
        class="card-body card-header"
        style="cursor:pointer"
        v-on:click="show(url)"
      >
        <h5 class="card-title">{{ item.title }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ item.body.substr(0, 50) + '...' }}</li>
        <li class="list-group-item">
          <RateComponent
            :rate="item.rate"
            :rate-url="rateUrl"
            :is-rate="isRate"
            :isAuth="isAuth"
          />
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import RateComponent from '../common/RateComponent.vue';
  export default {
    props: {
      item: Object,
      url: String,
      itemId: Number,
      rateUrl: String,
      isRate: Number,
      isAuth: Number,
    },
    methods: {
      show: function (url) {
        window.location.href = url;
      }
    },
    components: {
      RateComponent,
    },
  }
</script>
