<template>
  <div>
    <div class="form-group">
      <label for="newsTitle">Заголовок новости</label>
      <input
        type="text"
        v-bind:class="[isTitleIncorrect ? 'is-invalid' : '', 'form-control']"
        id="newsTitle"
        v-model="title"
        required
      >
      <div class="invalid-feedback">
        Заголовок должен содержать от 5 до 100 символов
      </div>
    </div>

    <div class="form-group">
      <label for="newsBody">Текст новости</label>
      <textarea
        v-bind:class="[isBodyIncorrect ? 'is-invalid' : '', 'form-control']"
        v-model="body"
        id="newsBody"
        rows="3"
        required
      ></textarea>
      <div class="invalid-feedback">
        Текст новости должен содержать от 20 символов
      </div>
    </div>

    <button
      type="button"
      class="btn btn-primary mb-2 float-right"
      v-on:click="sendForm()"
    >Сохранить</button>
  </div>
</template>

<script>
    export default {
      data: function() {
        return {
          title: '',
          body: '',
          isTitleIncorrect: false,
          isBodyIncorrect: false,
        }
      },
      methods: {
        sendForm: function() {
          this.isTitleIncorrect = (this.title.length < 5 || this.title.length > 100);
          this.isBodyIncorrect = this.body.length < 20;

          if (!this.isTitleIncorrect && !this.isBodyIncorrect) {
            axios
              .post('/news', {
                title: this.title,
                body: this.body,
              })
              .then(response => { window.location.href = '/news' })
              .catch(error => { console.error(error) });
          }
        }
      }
    }
</script>
