<template>
  <div
    :id="id"
    class="modal"
    tabindex="-1"
    role="dialog"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img
            v-bind:src="file"
            alt="Card image cap full size"
            style="width:100%"
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
      props: {
        title: String,
        id: Number,
        file: String,
      },
    }
</script>
