<template>
  <div class="col-md-4 mr-0 mb-4">
    <div class="card">
      <img
        class="card-img-top"
        v-bind:src="file"
        alt="Card image cap"
        v-on:click="showFull()"
        style="cursor:pointer"
      >
      <div class="card-body card-header">
        <h5 class="card-title">{{ item.title }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ item.body.substr(0, 50) + '...' }}</li>
        <li class="list-group-item">
          <RateComponent
            :rate="item.rate"
            :rate-url="rateUrl"
            :is-rate="isRate"
            :is-auth="isAuth"
          />
        </li>
      </ul>
    </div>

    <ImageMobileComponent
      :id="id"
      :title="item.title"
      :file="full"
    />
  </div>
</template>

<script>
  import ImageMobileComponent from '../modal/ImageModalComponent.vue';
  import RateComponent from '../common/RateComponent.vue';

  export default {
    props: {
      item: Object,
      file: String,
      full: String,
      rateUrl: String,
      isRate: Number,
      isAuth: Number,
    },
    data () {
      return {
        id: null
      }
    },
    mounted () {
      this.id = this._uid
    },
    methods: {
      showFull: function() {
        $("#" + this.id).modal('toggle')
      }
    },
    components: {
      ImageMobileComponent,
      RateComponent,
    },
  }
</script>
