import FormData from 'form-data'

<template>
  <div>
    <div class="form-group">
      <label for="imageTitle">Заголовок</label>
      <input
        type="text"
        v-bind:class="[isTitleIncorrect ? 'is-invalid' : '', 'form-control']"
        id="imageTitle"
        v-model="title"
        required
      >
      <div class="invalid-feedback">
        Заголовок должен содержать от 5 до 100 символов
      </div>
    </div>

    <div class="form-group">
      <label for="imageBody">Описание</label>
      <textarea
        v-bind:class="[isBodyIncorrect ? 'is-invalid' : '', 'form-control']"
        v-model="body"
        id="imageBody"
        rows="3"
        required
      ></textarea>
      <div class="invalid-feedback">
        Описание должно содержать от 20 символов
      </div>
    </div>

    <div class="form-group">
      <div class="custom-file">
        <input
          type="file"
          v-bind:class="[isImageIncorrect ? 'is-invalid' : '', 'custom-file-input']"
          name="file"
          id="imageFile"
          required
          accept="image/*"
        >
        <label class="custom-file-label" for="imageFile">Выберите файл...</label>
        <div class="invalid-feedback">Выберите файл</div>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-primary mb-2 float-right"
      v-on:click="sendForm()"
    >Сохранить</button>
  </div>
</template>

<script>
    export default {
      data: function() {
        return {
          title: '',
          body: '',
          isTitleIncorrect: false,
          isBodyIncorrect: false,
          isImageIncorrect: false,
        }
      },
      methods: {
        sendForm: function() {
          this.isTitleIncorrect = (this.title.length < 5 || this.title.length > 100);
          this.isBodyIncorrect = this.body.length < 20;
          this.isImageIncorrect = imageFile.files[0] ? false : true;

          if (!this.isTitleIncorrect && !this.isBodyIncorrect && !this.isImageIncorrect) {
            let data = new FormData();

            data.append('image', imageFile.files[0], imageFile.files[0].fileName);
            data.append('title', this.title);
            data.append('body', this.body);

            axios
              .post('/image', data, {
                headers: {
                  'accept': 'application/json',
                  'Accept-Language': 'en-US,en;q=0.8',
                  'Content-Type': 'multipart/form-data',
                }
              })
              .then(response => { window.location.href = '/image' })
              .catch(error => { console.error(error) });
          }
        }
      }
    }
</script>
