<template>
  <div class="row">
    <span class="col-md-8">Рейтинг</span>
    <span class="col-md-2">{{ rating }}</span>
    <span class="col-md-2">
      <i
        v-bind:class="['fa', isLiked ? 'fa-thumbs-up' : 'fa-thumbs-o-up']"
        v-if="isAuth"
        class="fa fa-thumbs-o-up"
        style="cursor:pointer"
        v-on:click="rateIt()"
      ></i>
    </span>
  </div>
</template>

<script>
    export default {
      props: {
        rate: Number,
        rateUrl: String,
        isRate: Number,
        isAuth: Number,
      },
      data () {
        return {
          isLiked: this.isRate,
          rating: this.rate,
        }
      },
      methods: {
        rateIt: function () {
          axios
            .put(this.rateUrl, {like: !this.isLiked})
            .then(response => {
              this.isLiked = !this.isLiked;
              this.rating = response.data;
            })
            .catch(error => { console.error(error) });
        }
      }
    }
</script>
